* {
  margin: 0 auto;
  padding: 0;
  border: 0;
}


#header {
  background-color: #002560;
}

#contents {
  text-align: center;
  padding-top: 25px;
}

h1 {
  color: white;
  font-family: Arial;
  padding-left: 25px;
}

img {
  width: 100px;
  height: 100px;
}
